#about-section {
  blockquote {

  }

  #about-info {
    padding-top: 10px;

    ul {
      list-style: none;
      padding-inline-start: 0;
      padding-bottom: 2px;

      li {
        padding-bottom: 2px;

        a {
          color: #932244;
          text-decoration: none;
        }
      }
    }
  }
}