@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

//colors definition

$bg-default: #fff;
$bg-highlight: #932244;
$bg-highlight-dark: #7e1f3f;
$bg-default-dark: #efefef;
$grey: #898989;
$dark-grey: #6a6a6a;

//general section styles

@mixin section-padding() {
  @media (min-width: 0px) {
    padding: 20px 0 36px;
  }
  @media (min-width: 576px) {
    padding: 48px 0;
  }
  @media (min-width: 992px) {
    padding: 96px 0;
  }
}

.section-default {
  @include section-padding();
  background-color: $bg-default;
  color: #000000;
}


.section-highlight {
  @include section-padding();
  background-color: $bg-highlight;
  color: #ffffff;
}

.section-highlight-footer {
  @include section-padding();
  background-color: #000000;
  color: #ffffff;
}

//text styles

@mixin text() {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.text-default {
  @include text();
  @media (min-width: 0) {
    font-size: 14px;
  }
  @media (min-width: 576px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 20px;
  }
  @media (min-width: 992px) {
    font-size: 24px;
  }
}

.text-author {
  @include text();
  @media (min-width: 0) {
    font-size: 12px;
  }
  @media (min-width: 576px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
  }
  font-style: italic;
}

.text-footer {
  @include text();
  @media (min-width: 0) {
    font-size: 12px;
  }
  @media (min-width: 576px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 16px;
  }
}

//headers

@mixin header {
  @include text();
  margin: 15px 0;

  @media (min-width: 0) {
    font-size: 20px;
  }
  @media (min-width: 576px) {
    font-size: 32px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 992px) {
    font-size: 32px;
  }
}

.text-header {
  @include header;
}

.text-header-heavy {
  @include header();
  font-weight: 600;
}

.text-header-page {
  @include header();
  color: white;
  text-shadow: 1px 1px 1px #000000;
  font-weight: 500;
}

.text-header-border {
  @include header();
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  padding: 12px 0;

  //to give additional space on screen sizes before md
  @media (max-width: 767px) {
    margin-top: 48px;
  }

}

.text-header-footer {
  @include header;
  @media (min-width: 0) {
    font-size: 20px;
  }
  @media (min-width: 576px) {
    font-size: 24px;
  }
  @media (min-width: 992px) {
    font-size: 28px;
  }
}

// inspired from google material design - material.io
.material-frame {
  background: white;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  box-shadow: 0 4px 4px lightgrey;
  margin-top: 24px;
  padding: 16px;
}

//buttons

@mixin button($color, $color-hover) {
  @include text();
  font-size: 20px;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background-color: $color;

  &:hover {
    background-color: $color-hover;
  }
}

.button-default {
  @include button($bg-highlight, $bg-highlight-dark);
}

.button-outline {
  @include button($bg-default, $bg-default-dark);
  color: $bg-highlight;
  font-weight: 500;
}

.button-close {
  @include button($grey, $dark-grey);
}

//navbar overriding bootstrap

.bg-navbar {
  background-color: rgba(0, 0, 0, 0.75);
}

.navbar-bars {
  color: #ffffff;
  font-size: 20px;
}

@mixin brand() {
  @include text();
  color: #ffffff !important;
  font-size: 20px;

  span {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
  }
}

.navbar-brand {
  @include brand;
}

.footer-brand {
  @include brand;

  span {
    color: $bg-highlight;
  }

  @media (min-width: 0) {
    font-size: 24px;
    span {
      font-size: 18px;
    }
  }
  @media (min-width: 576px) {
    font-size: 32px;
    span {
      font-size: 24px;
    }
  }
  @media (min-width: 992px) {
    font-size: 36px;
    span {
      font-size: 28px;
    }
  }
}

//images

.img-transform {
  transition: transform .4s;

  &:hover {
    transform: scale(1.05);
  }
}

//present on all pages except the landing page

.hero-image {
  .container-fluid {
    position: relative;
  }

  .page-head {
    img {
      width: 100vw;
      object-fit: cover;
      overflow: hidden;
      @media (min-width: 0) {
        height: 240px;
      }
      @media (min-width: 576px) {
        height: 260px;
      }
      @media (min-width: 768px) {
        height: 300px;
      }
      @media (min-width: 992px) {
        height: 340px;
      }
      @media (min-width: 1200px) {
        height: 360px;
      }
    }

    div {
      position: absolute;
      width: 100vw;
      text-align: center;
      @media (min-width: 0) {
        top: 180px;
      }
      @media (min-width: 576px) {
        top: 180px;
      }
      @media (min-width: 768px) {
        top: 230px;
      }
      @media (min-width: 992px) {
        top: 220px;
      }
      @media (min-width: 1200px) {
        top: 240px;
      }
    }
  }
}

.gallery {
  img {
    width: 100%;
    padding-top: 2vh;
  }
}

