@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

//colors definition

$bg-default: #fff;
$bg-highlight: #932244;
$bg-highlight-dark: #7e1f3f;
$bg-default-dark: #efefef;


//section padding

//top & bottom padding
.section-padding {
  padding: 48px 0;
}

//section default

.section-default {
  background-color: $bg-default;
  color: #000000;
}


//section highlight
.section-highlight {
  background-color: $bg-highlight;
  color: #ffffff;
}


@mixin text() {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.text-default {
  @include text();
}

.text-header {
  @include text();
  font-weight: 400;
  font-size: 20px;
  margin: 15px 0;
}

.text-header-heavy {
  @include text();
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0;
}

.text-author-name {
  @include text();
  font-size: 12px;
  font-style: italic;
}

.text-header-border {
  @include text();
  font-weight: 400;
  font-size: 20px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  margin: 15px 0;
}

// todo credit google
.material-frame {
  background: white;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  box-shadow: 0 4px 4px lightgrey;
}

@mixin button() {
  @include text();
  font-size: 20px;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 8px;
  border: none;

}


//buttons
.button-default {
  @include button();

  background-color: $bg-highlight;

  &:hover {
    background-color: $bg-highlight-dark;
  }
}

.button-outline {
  @include button();
  background-color: $bg-default;
  color: $bg-highlight;
  font-weight: 500;

  &:hover {
    color: $bg-highlight-dark;
    background-color: $bg-default-dark;
  }
}

//navbar overriding bootstrap

.bg-navbar {
  background-color: $bg-highlight;
}

.navbar-bars {
  color: #ffffff;
  font-size: 20px;
}

@mixin brand() {
  @include text();
  color: #ffffff !important;
  font-size: 20px;
  span {
    font-size: 16px;
    font-style: italic;
  }
}

.navbar-brand {
  @include brand();
}

.footer-brand {
  @include brand();

  span {
    color: $bg-highlight;
  }
}

