@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

//colors definition

$bg-default: #fff;
$bg-highlight: #932244;
$bg-highlight-dark: #7e1f3f;
$bg-default-dark: #efefef;


//section padding

//top & bottom padding
.section-padding {
  padding: 48px 0;
}

//section default

.section-default {
  background-color: $bg-default;
  color: #000000;
}


//section highlight
.section-highlight {
  background-color: $bg-highlight;
  color: #ffffff;
}

.section-highlight-footer {
  background-color: #000000;
  color: #ffffff;
}

@mixin text() {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.text-default {
  @include text();
  @media (min-width: 0) {
    font-size: 14px;
  }
  @media (min-width: 576px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 20px;
  }
  @media (min-width: 992px) {
    font-size: 24px;
  }
}

.text-author {
  @include text();
  @media (min-width: 0) {
    font-size: 12px;
  }
  @media (min-width: 576px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
  }
  font-style: italic;
}

.text-footer {
  @include text();
  @media (min-width: 0) {
    font-size: 12px;
  }
  @media (min-width: 576px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 16px;
  }
}

//headers

@mixin header {
  @include text();
  margin: 15px 0;

  @media (min-width: 0) {
    font-size: 20px;
  }
  @media (min-width: 576px) {
    font-size: 32px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 992px) {
    font-size: 32px;
  }
}

.text-header {
  @include header;
}

.text-header-heavy {
  @include header();
  font-weight: 600;
}

.text-header-carousel {
  @include header();
  color: white;
  text-shadow: 1px 1px 1px black;
}

.text-header-border {
  @include header();
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  padding: 12px 0;
  @media (max-width: 992px) {
    font-size: 24px;
    margin-top: 48px;
  }

}

.text-header-footer {
  @include header;
  @media (min-width: 0) {
    font-size: 20px;
  }
  @media (min-width: 576px) {
    font-size: 24px;
  }
  @media (min-width: 992px) {
    font-size: 28px;
  }
}

// todo credit google
.material-frame {
  background: white;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  box-shadow: 0 4px 4px lightgrey;
  margin-top: 24px;
  padding: 16px;
}

@mixin button() {
  @include text();
  font-size: 20px;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 8px;
  border: none;

}


//buttons
.button-default {
  @include button();

  background-color: $bg-highlight;

  &:hover {
    background-color: $bg-highlight-dark;
  }
}

.button-outline {
  @include button();
  background-color: $bg-default;
  color: $bg-highlight;
  font-weight: 500;

  &:hover {
    color: $bg-highlight-dark;
    background-color: $bg-default-dark;
  }
}

//navbar overriding bootstrap

.bg-navbar {
  background-color: rgba(0, 0, 0, 0.75);
}

.navbar-bars {
  color: #ffffff;
  font-size: 20px;
}

@mixin brand() {
  @include text();
  color: #ffffff !important;
  font-size: 20px;

  span {
    font-size: 16px;
    font-style: italic;
    color: $bg-highlight;
    font-weight: 600;
  }
}

.navbar-brand {
  @include brand;
}

.footer-brand {
  @include brand;
  @media (min-width: 0) {
    font-size: 24px;
    span {
      font-size: 18px;
    }
  }
  @media (min-width: 576px) {
    font-size: 32px;
    span {
      font-size: 24px;
    }
  }
  @media (min-width: 992px) {
    font-size: 36px;
    span {
      font-size: 28px;
    }
  }
}

.img-cover {
  img:hover {
    filter: saturate(120%);
  }
}
