//footer

footer {
  text-align: center;

  #main-footer {

    ul {
      list-style: none;
      padding-inline-start: 0;

      li a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

