//footer

footer {
  text-align: center;
  padding-top: 24px;

  #main-footer {
    color: white;
    background-color: black;
    padding-top: 1rem;
    font-size: 12px;
  }

  #footer-heading-logo {
    font-size: 24px;

    span {
      color: darkred;
      font-style: italic;
      font-size: 16px;
    }
  }

  .footer-content-header {
    font-size: 20px;
  }

  #footer-copyright {
    font-size: 12px;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;

    li a {
      color: white;
    }

    #footer-address p {
      margin: 0;
    }
  }
}