//gallery settings

.gallery {
  img {
    width: 100%;
    padding-top: 2vh;
  }
}

//arrow-up element

//animation code inspired from Snik on codepen.io

@mixin center-v() {
  position: fixed;
  bottom: 10vh;
  top: 90vh;
  right: 6vw;
  margin: auto;
}

.item {
  width: 3vw;
  height: 5vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2em;

  &--arrow-up {
    @include center-v;
  }
}

.item--arrow-up {
  a {
    color: rgba(0, 0, 0, 0.5);
  }
}