//index-page

//hero image section


#hero-image-landing {
  position: relative;

  #hero-carousel {
    z-index: -1;
  }

  .carousel-item {
    img {
      height: 100vh;
      object-fit: cover;
      overflow: hidden;
    }
  }

  #scroll-anchor {
    position: absolute;
    bottom: 56px;
  }

  #hero-teaser {
    position: absolute;
    text-align: center;
    left: 25%;
    width: 50%;
    bottom: 10vh;

    .fa-chevron-down {
      padding-top: 30px;
      display: block;
      font-size: xx-large;
      color: rgba(255, 255, 255, 0.60);
    }
  }
}