//index-page

.index-page-header {

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  p {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

//hero image section


#hero-image {
  position: relative;

  #hero-carousel {
    z-index: -1;
  }

  .carousel-item {
    img {
      height: 100vh;
      object-fit: cover;
      overflow: hidden;
    }
  }

  #scroll-anchor {
    position: absolute;
    bottom: 56px;
  }
  #hero-teaser {
    position: absolute;
    text-align: center;
    left: 25%;
    width: 50%;
    bottom: 10vh;

    p {
      color: white;
      text-shadow: 1px 1px 1px black;
    }

    .fa-chevron-down {
      padding-top: 30px;
      display: block;
      font-size: xx-large;
      color: rgba(255, 255, 255, 0.60);
    }
  }
}

@media (max-width: 992px) {
  #hero-teaser {
    p {
      font-size: 28px;
    }
  }
}

@media (min-width: 993px) {
  #hero-teaser {
    p {
      font-size: 75px;

    }
  }
}


//portfolio-example section

#portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;

  .portfolio-card {
    .couple-portfolio-image img {
      :hover {
        cursor: pointer;
      }
    }
  }
}

//motivate-text section

#motivate-text {
  background-color: gold;
  #text-place {
    padding: 48px 8px;
  }
}


//testimonials section

.review {
  background-color: rgba(0, 0, 0, 0.1);;

  span {
    font-style: italic;
  }
}