//navbar

.nav-item {
  color: #ffffff !important;
  &:hover {
    border-bottom: 1px solid #ffffff;
  }
  &.active {
    border-top: 1px solid #ffffff;

  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 56px;
    left: 100%;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: all 0.1s ease;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: right;
    height: 100vh;
  }
  .navbar-collapse.show {
    left: 0;
  }
}