//couple portfolio page

//hero image

.hero-image {

  .container-fluid {
    position: relative;
  }

  .page-head {
    img {
      height: 45vh;
      width: 100vw;
      object-fit: cover;
      overflow: hidden;
    }

    p {
      position: absolute;
      top: 30vh;
      width: 100vw;
      text-align: center;
      color: rgba(255, 255, 255, 0.60);
      font-size: 5vw;
    }
  }
}

//couple-albums section

#couple-albums {

  //height is declared in the media query bellow

  .album-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20px;
  }

  .album-border {
    position: relative;
    width: 100%;
    border: 0.5px solid white;
    text-align: center;

    .album-text {
      position: absolute;
      bottom: 2%;
      left: 25%;
      width: 50%;

      p {
        color: white;
      }

      .couple-name {
        border-bottom: 0.5px solid white;
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .album-background {
    height: 280px;

    .album-border {
      height: 240px;

      p {
        font-size: 20px;
      }
    }
  }
}


@media (min-width: 769px) {
  .album-background {
    height: 150px;

    .album-border {
      height: 110px;

      p {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 992px) {
  .album-background {
    height: 200px;

    .album-border {
      height: 160px;

      p {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .album-background {
    height: 270px;

    .album-border {
      height: 230px;

      p {
        font-size: 20px;
      }
    }
  }
}