//couple portfolio page


//couple-albums section

#couple-albums {

  //height is declared in the media query bellow

  //todo look into this
  .album-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20px;
    transition: background-size 1s ease-in;

    &:hover {
      background-size: 110%;
    }

    .album-border {
      position: relative;
      width: 100%;
      border: 0.5px solid white;
      text-align: center;

      .album-text {
        position: absolute;
        bottom: 5%;
        left: 25%;
        width: 50%;
        color: white;

        .couple-name {
          border-bottom: 0.5px solid white;
          margin-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 0) {
    .album-background {
      height: 200px;

      .album-border {
        height: 160px;

        .album-text {
          font-size: 14px;
        }
      }
    }
  }


  @media (min-width: 576px) {
    .album-background {
      height: 200px;

      .album-border {
        height: 160px;

        .album-text {
          font-size: 16px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .album-background {
      height: 240px;

      .album-border {
        height: 200px;

        .album-text {
          font-size: 20px;
        }
      }
    }
  }


  @media (min-width: 992px) {
    .album-background {
      height: 220px;

      .album-border {
        height: 180px;

        .album-text {
          font-size: 16px;
        }
      }
    }
  }
}

