//defining color variables

body {
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
}

//navbar

.nav-item {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 50px;
    left: 100%;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: all 0.2s ease;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: right;
    height: 100vh;
  }
  .navbar-collapse.show {
    left: 0;
  }
  .nav-item {
    color: #fff !important;
  }
}

//hero image carousel
#hero-container {
  padding: 0;
  .carousel-item img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    transition: 5s;
  }
}


//footer

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 1rem;
  font-size: 12px;

  #footer-heading-logo {
    font-size: 24px;

    span {
      color: darkred;
      font-style: italic;
      font-size: 16px;
    }
  }

  .footer-content-header {
    font-size: 20px;
  }

  #footer-copyright {
    font-size: 12px;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;

    li a {
      color: white;
    }

    #footer-address p {
      margin: 0;
    }
  }
}
